@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    height:100vh;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.titulo-destaque {
    color: aqua;
}

.apresentacao {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao_conteudo {
    width: 615px;
}

.apresentacao_conteudo_titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
   
}

.apresentacao_conteudo_texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao_links {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.apresentacao_links_link {
   background-color: aqua;
   width: 280px;
   text-align: center;
   border-radius: 16px;
   font-size: 24px;
   font-weight: 600;
   padding: 21.5px 0;
   text-decoration: none;
   color: #000000;
   font-family: 'Montserrat', sans-serif;
   border-style: dashed;
}

img {
    width: 400px;
    height: auto;
}

footer {
    background-color: aqua;
    height: 100px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: black;
    
}
